li{
  list-style: none;
}
.todoForm{
  background: skyblue;
  max-width: 500px;
  margin: auto;
  text-align: center;
  /* height: 100vh; */
  min-height: 100px;

}
input{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
p{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.todo-form{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
}
.button{
  padding-top: 20px;
}
.list-item{
  padding-top: 20px;
}